<p>
  <b>Scene:</b>
  <%=h @garden.scene_id %>
</p>

<p>
  <b>Owner:</b>
  <%=h @garden.owner_id %>
</p>

<p>
  <b>Creator:</b>
  <%=h @garden.creator_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @garden.description %>
</p>


<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>