<h1>Listing accessories</h1>

<table>
  <tr>
    <th>Accessory type</th>
    <th>Garden</th>
    <th>Orientation</th>
    <th>Sender</th>
    <th>Scale</th>
    <th>Xcor</th>
    <th>Ycor</th>
    <th>Zcor</th>
  </tr>

<% @accessories.each do |accessory| %>
  <tr>
    <td><%=h accessory.accessory_type_id %></td>
    <td><%=h accessory.garden_id %></td>
    <td><%=h accessory.orientation %></td>
    <td><%=h accessory.sender_id %></td>
    <td><%=h accessory.scale %></td>
    <td><%=h accessory.xcor %></td>
    <td><%=h accessory.ycor %></td>
    <td><%=h accessory.zcor %></td>
    <td><%= link_to 'Show', accessory %></td>
    <td><%= link_to 'Edit', edit_accessory_path(accessory) %></td>
    <td><%= link_to 'Destroy', accessory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New accessory', new_accessory_path %>