<h1>New accessory</h1>

<% form_for(@accessory) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :accessory_type_id %><br />
    <%= f.text_field :accessory_type_id %>
  </p>
  <p>
    <%= f.label :garden_id %><br />
    <%= f.text_field :garden_id %>
  </p>
  <p>
    <%= f.label :orientation %><br />
    <%= f.text_field :orientation %>
  </p>
  <p>
    <%= f.label :sender_id %><br />
    <%= f.text_field :sender_id %>
  </p>
  <p>
    <%= f.label :scale %><br />
    <%= f.text_field :scale %>
  </p>
  <p>
    <%= f.label :xcor %><br />
    <%= f.text_field :xcor %>
  </p>
  <p>
    <%= f.label :ycor %><br />
    <%= f.text_field :ycor %>
  </p>
  <p>
    <%= f.label :zcor %><br />
    <%= f.text_field :zcor %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', accessories_path %>