<p>
  <b>Accessory type:</b>
  <%=h @accessory.accessory_type_id %>
</p>

<p>
  <b>Garden:</b>
  <%=h @accessory.garden_id %>
</p>

<p>
  <b>Orientation:</b>
  <%=h @accessory.orientation %>
</p>

<p>
  <b>Sender:</b>
  <%=h @accessory.sender_id %>
</p>

<p>
  <b>Scale:</b>
  <%=h @accessory.scale %>
</p>

<p>
  <b>Xcor:</b>
  <%=h @accessory.xcor %>
</p>

<p>
  <b>Ycor:</b>
  <%=h @accessory.ycor %>
</p>

<p>
  <b>Zcor:</b>
  <%=h @accessory.zcor %>
</p>


<%= link_to 'Edit', edit_accessory_path(@accessory) %> |
<%= link_to 'Back', accessories_path %>