
<div class="stats_container" id="stats_container">

  <div class="stats_box">
    <div class="header">
      <%= image_tag("icons/lightening.png", :alt => '' ) -%>
      Energy:
    </div>
    <div class="info">
        <%= actor.energy %> / <%= actor.energy_max %>
        <div class="sub_text red <%= 'hidden' if actor.energy_full? %>">
          more in <span id="energy_timer"><%= actor.seconds_till_more_energy %> sec</span>
        </div>
    </div>
    <div class="stretcher"></div>
  </div>

  <div class="stats_box">
    <div class="header">
      <%= image_tag("icons/coins_silver.png", :alt => '' ) -%>
      Currency:
    </div>
    <div class="info">
        <%= number_with_delimiter actor.currency %>
    </div>
    <div class="stretcher"></div>
  </div>

  <div class="stats_box" style="width: 150px;">
    <div class="header">
      <%= image_tag("icons/coins_gold.png", :alt => '' ) -%>
      Premium Cur:
    </div>
    <div class="info">
      <span id="info_gold"><%= number_with_delimiter actor.premium_currency %></span>
    </div>
    <div class="stretcher"></div>
  </div>

  <div class="stretcher"></div>
  
</div>
