
<div class="stats_container" id="stats_container">

  <div class="stats_box">
    <div class="header">
      <%= image_tag("icons/lightening.png", :alt => '' ) -%>
      Ammo:
    </div>
    <div class="info">
        <%= @actor.energy %> / <%= @actor.energy_max %>
        <div class="sub_text red <%= 'hidden' if @actor.energy_full? %>">
          more in <span id="energy_timer"><%= @actor.seconds_till_more_energy %> sec</span>
        </div>
    </div>
    <div class="stretcher"></div>
  </div>

  <div class="stats_box">
    <div class="header">
      <%= image_tag("icons/world.png", :alt => '' ) -%>
      Plastic:
    </div>
    <div class="info">
        <%= number_with_delimiter @actor.currency %>
    </div>
    <div class="stretcher"></div>
  </div>

  <div class="stats_box hidden" style="width: 150px;">
    <div class="header">
      <%= image_tag("icons/coins_gold.png", :alt => '' ) -%>
      Gold:
    </div>
    <div class="info">
      <span id="info_gold"><%= number_with_delimiter( 0 ) %></span>
    </div>
    <div class="stretcher"></div>
  </div>

  <div class="gold_link hidden">
    <%= link_to "get more gold", "/shop/donations", :onclick => "record_event('click_track/gold_link/stats_box');" %>
  </div>


  <div class="stretcher"></div>
  
</div>
